# Supabase Configuration
VITE_SUPABASE_URL=https://uqtpovzcyzswefdrrvtx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_20Nrlfk5eUNQb_75RpNooA_aEiT6ffF

# Email Configuration (Gmail App Password required)
GMAIL_USER=
GMAIL_PASS=
