# Supabase Configuration
VITE_SUPABASE_URL=https://uqtpovzcyzswefdrrvtx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxdHBvdnpjeXpzd2VmZHJydnR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MzkzMzksImV4cCI6MjA5MDAxNTMzOX0.QryX-qlAdsCPLufOknrWIle86l-GpLmeYSpcKqUusuE

# Email Configuration (Gmail App Password required)
GMAIL_USER=
GMAIL_PASS=
